{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化</title>
       <script src={% static 'js/echarts.min.js' %}></script>
     <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src={% static 'js/jquery.js' %}></script>
     <link href="{% static 'css/main.css' %}" rel="stylesheet">
     <link href="{% static 'css/customer_data.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <strong><h2>数据可视化</h2></strong>
        </a>
      <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        销售数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/year_data/">全国业绩</a></li>
                        <li><a target="_blank" class="dropdown-item" href="http://127.0.0.1:8000/region/">省份,地区</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        产品数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a  class="dropdown-item" href="http://127.0.0.1:8000/category_sale">产品占比与子类别</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/price_area">价格区间</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/hot_good">明星产品</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        客户数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/segment_data">用户机构</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        快递数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/ship">邮寄方式</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
  var mSetData = {{ mSetJson| safe}};
  var fSetData = {{ fSetJson| safe}};
  var rfmRData = {{ rfmRJson| safe}};
  var rfmSumData = {{ rfmSumJson| safe}};
  var rfmData = {{ rfm_data| safe}};
  var paretoData = {{ pareto_data| safe}};
</script>
<div class="main">
  <div class="left">
    <div id="rfmsum"></div>
    <div id="rfm_r"></div>
    <div id="rfm_f"></div>
    <div id="rfm_m"></div>
  </div>
  <div class="right" id="right">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">客户 ID</th>
          <th scope="col">R</th>
          <th scope="col">F</th>
          <th scope="col">M</th>
        </tr>
      </thead>
      <tbody id="tobody">
      </tbody>
    </table>
  </div>
</div>

<script src={% static 'js/customerData.js' %}></script>
</body>
</html>