{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src={% static 'js/echarts.min.js' %}></script>
     <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src={% static 'js/jquery.js' %}></script>
     <link href="{% static 'css/main.css' %}" rel="stylesheet">
     <link href="{% static 'css/segment_data.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <strong><h2>数据可视乎</h2></strong>
        </a>
      <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        销售数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="year_data/">全国业绩</a></li>
                        <li><a class="dropdown-item" href="region_province">地区和省份</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        产品数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="category_sale">产品占比与子类别</a></li>
                        <li><a class="dropdown-item" href="price_area">价格区间</a></li>
                        <li><a class="dropdown-item" href="hot_good">明星产品</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        客户数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="segment_data">用户机构</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        快递数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="ship">邮寄方式</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
        var segment_bar_Data_02={{ segment_Bar_Json_02| safe}}
        var segment_Pie_Data = {{ segment_Pie_Json| safe}}
        var segment_Bar_Data_01 = {{ segment_Bar_Json_01| safe}}
    </script>
    <div id="row_01">
        <div id="pie"></div>
        <div id="bar_01"></div>
    </div>
    <div id="row_02">
        <div id="bar_02"></div>

    </div>

    <script src={% static 'js/segment_data.js' %}></script>
</body>
</html>