   {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据可视乎</title>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src={% static 'js/echarts.min.js' %}></script>
    <script src={% static 'js/jquery.js' %}></script>
    <link rel="stylesheet" href={% static 'css/year.css' %}>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <strong><h2>数据可视化</h2></strong>
        </a>
      <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        销售数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/year_data/">全国业绩</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/region/">省份,地区</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        产品数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a  class="dropdown-item" href="http://127.0.0.1:8000/category_sale">产品占比与子类别</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/price_area">价格区间</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/hot_good">明星产品</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        客户数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/segment_data">用户机构</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        快递数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/ship">邮寄方式</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <script>
        var year_month_data={{year_month_Json|safe}};
        {#console.log(year_month_data)#}
        var year_Sales_table_data = {{year_sales_Json|safe}}
    </script>
    <div id="col_01">
        <table class="table">
            <thead class="headtr">
                <tr>
                    <th scope="col">年</th>
                    <th scope="col">销售额（万）</th>
                    <th scope="col">利润（万）</th>
                    <th scope="col">利润率</th>
                    <th scope="col">卖出商品数</th>
                    <th scope="col">订单数</th>
                    <th scope="col">平均折扣</th>
                    <th scope="col">客单价</th>
                </tr>
            </thead>
            <tbody id="tobody">
            </tbody>
        </table>
    </div>
    <div id="col_02">
        <div id="col_02_01"></div>
        <div id="col_02_02"></div>
    </div>
    <div id="col_03">
        <div id="col_03_01"></div>
        <div id="col_03_02"></div>
        <div id="col_03_03"></div>
        <div id="col_03_04"></div>
    </div>
    <script src={% static 'js/year_data.js' %}></script>
</body>
</html>