{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {#    引入相关js文件#}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
           <strong>数据可视乎</strong>
        </a>
      <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        业务概况
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">年销售情况</a></li>
                        <li><a class="dropdown-item" href="#">地区,省份区分</a></li>
                        <li><a class="dropdown-item" href="#">销售额同比</a></li>
                        <li><a class="dropdown-item" href="#">销售占比(地区,细分,品类)</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        销售趋势
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">时间维度</a></li>
                        <li><a class="dropdown-item" href="#">异常值分析</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        产品机构分析
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">品类</a></li>
                        <li><a class="dropdown-item" href="#">价格带</a></li>
                        <li><a class="dropdown-item" href="#">top n</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        用户结构分析
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">地区</a></li>
                        <li><a class="dropdown-item" href="#">头部客户名单</a></li>
                        <li><a class="dropdown-item" href="#">RFM</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        发货情况分析
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">邮寄方式</a></li>
                        <li><a class="dropdown-item" href="#">时效</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>