{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {#引入相关js文件#}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/echarts-wordcloud.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
{#导航栏#}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <strong><h2>数据可视化</h2></strong>
        </a>
      <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        销售数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="year_data/">全国业绩</a></li>
                        <li><a class="dropdown-item" href="region/">省份,地区</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        产品数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="category_sale/">产品占比与子类别</a></li>
                        <li><a class="dropdown-item" href="price_area/">价格区间</a></li>
                        <li><a class="dropdown-item" href="hot_good/">明星产品</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        客户数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a  class="dropdown-item" href="segment_data/">用户机构</a></li>
                        <li><a class="dropdown-item" href="customer_data/">rfm</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        快递数据
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="ship/">邮寄方式</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

 <div id="main">

        {% block content %}

        {% endblock %}
    </div>


</body>
</html>